<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

  <variable name="filename" value="${basedir}/Log/${processname}" />

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="ColoredConsole" name="console"  layout="${longdate:format=HH:mm:ss.ffffff}|${logger}|${level:uppercase=true}|${message}" />
    <target xsi:type="File"
        name="file"
        encoding="utf-8"
        fileName="${filename}.log"
        layout="${longdate:format=yyyy-MM-dd HH:mm:ss.ffffff}|${logger}|${level:uppercase=true}|${processid}|${threadid}|${message} ${exception:format=ToString}"
        archiveFileName="${filename}.{#}.log"
        archiveEvery="Day"
        archiveNumbering="Date"
        archiveDateFormat="yyyyMMdd"
        maxArchiveFiles="7"
        concurrentWrites="true"
        keepFileOpen="false" />
    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="console" />
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="false" />
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>